<div class="col-3 mx-auto p3 bg-white mt3">
  <span class="h2 block mb2">Log in</span>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb2">
      <%= f.email_field :email, class: 'field col-12', autofocus: true, :placeholder => "Email" %>
    </div>

    <div class="mb2">
      <%= f.password_field :password, class: 'field col-12', autocomplete: "off", :placeholder => "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="mb2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="mb1">
      <%= f.submit "Log in", class: 'col-12 btn btn-primary bg-green' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
