<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="p2 border mb3">
      <span class="h2 bold">Please fix the following <%= pluralize(@post.errors.count, "error") %>:</span>

      <ul class="mt2 mb0">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb2">
    <%= f.label :title, class: 'bold' %>
    <%= f.text_field :title,  class: 'field col-12 mt1', :placeholder => "Task title"  %>
  </div>
  <div class="mb2">
    <%= f.label :location, class: 'bold' %>
    <%= f.text_field :location, class: 'field col-12 mt1', :placeholder => "Where do you need help?"  %>
  </div>
  <div class="mb2">
    <%= f.label "Task Already Done?" %> <br />
    <%= f.check_box :task_done %> <br />
</div>
  <div class="mb2">
    <%= f.label :category, class: 'bold' %>
    <%= f.select :category, Post::POST_TYPES,{},class: 'field col-12 mt1'  %>
  </div>
  <div class="mb2">
    <%= f.label :description, class: 'bold' %>
    <div class="mt1">
      <%= f.text_area :description, class: 'no-resize col-12 field', rows: 10, :placeholder => "What would you like help with?"%>
    </div>
  </div>
  <div class="mb2">
    <%= f.label :explanation, class: 'bold' %>
    <div class="mt1">
      <%= f.text_area :explanation, class: 'no-resize col-12 field', rows: 10, :placeholder => "Why do you need help?"%>
    </div>
  </div>

  <span class="block h4 mb1 bold">Upload a picture</span>
  <%= f.file_field :postpic %>

  <div class="mt4 right-align">
    <%= f.submit "Post task", class: "btn btn-primary bg-green"%>
  </div>

<% end %>
<%= tinymce %>


