<%# app/views/students/_list.html.erb %>

<div>
  <div class="mx-auto flex flex-wrap col-8">
    <% posts.each do |post| %>
      <div class="p2 col-4 border-box">
        <div class="relative p2 bg-white">
          <div class=""><%= link_to(post.title, post_path(post)) %></div>
          <div>
            <%= post.description %>
          </div>
          <div class="mt1 h6 gray">
            <%= post.location %>
          </div>
          <div class="p1 absolute bottom-0 right-0 col-1"><%= image_tag "categories/#{post.category.parameterize}.png" %></div>
        </div>
      </div>
    <% end %>

    <div class="col-12 center p2 mb2">
      <%= paginate @posts, :remote => true %>
    </div>
  </div>
</div>

