<%= form_for_filterrific @filterrific do |f| %>

  <div class='flex bg-white p4' >
    <div class="flex-auto center nowrap">
      <span class="input-group-btn">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <div class="border-bottom col-4 inline-block">
        <%= f.text_field(
          :search_query,
          :placeholder => "How can you help out?",
          class: 'h2 col-12 border-none',
          id: 'search-field'
        )%>
      </div>
      <button id="adv-button" type="button" class="btn btn-primary bg-gray ml1">Filter</button>
      <%= button_tag(type: 'submit', class: "btn btn-primary bg-navy ml1", id: "search-button") do %>
      <span>Search</span>
      <% end %>
      </span>
    </div>
  </div>

  <div class='bg-white'>
    <div id='adv-options' class='col-8 mx-auto'>
      <div class='clearfix'>
        <div class='col col-4 p1 mb4'>
          <p>Sort By</p>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: 'field col-12'}) %>
        </div>

        <div class='col col-4 p1 mb4'>
          <p>Category</p>
          <%= f.select(:post_category, @filterrific.select_options[:post_category], {}, {class: 'field col-12'}) %>
        </div>

        <div class='col col-4 p1 mb4'>
          <p>When Posted</p>
          <%= f.select(:post_date, @filterrific.select_options[:post_date], {}, {class: 'field col-12'}) %>
        </div>
      </div>
    </div>
  </div>

  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %><!-- form -->

<div id="filterrific_results">
  <span class="h2 bold block center py4">Tasks</span>

  <%= render(
    partial: 'posts/list',
    locals: { posts: @posts }
  ) %>
</div>

<script>

/*allow clicking on the result rows*/
$('tr').not('thead tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});

/*focus on the search bar and hide options on load*/ 
var ready;
ready = function() {
  var input = document.getElementById("search-field").focus();
  $("#adv-options").hide();
};
$(document).ready(ready);
$(document).on('page:load', ready);



 /*advanced options*/
$( "#adv-button" ).click(function() {
  $( "#adv-options" ).stop().slideToggle( "fast", function() {
    return false;
  });
});

  </script>
