<% content_for :page_title do
  @post.title
end %>

<div class="bg-white p3 mt3 col-8 mx-auto">

  <span class="block mb2 h2">
    <%= @post.title %>
  </span>



  <span class="bold">Location:</span> <span class="mr2"><%= @post.location %></span>
  <span class="bold">Posted:</span> <span class="mr2 italic"><%= (@post.created_at+12*60*60).strftime('%H:%M %a %d %b %Y') %></span>
  <span class="bold">Category:</span> <span><%= @post.category %></span>
  <hr>

  <div class="mb2">
    <span class="bold block">What?</span>
    <%= @post.description.html_safe %>
  </div>

  <div class="mb2">
    <span class="bold block">Why?</span>
    <%= @post.explanation.html_safe %>
  </div>


  <% unless @post.postpic_url.nil? %>
    <hr><h4>Attached Image</h4>
    <%= image_tag @post.postpic_url(:standard) %><br>
    <br>
  <% end %>

  <span class="bold">Share</span>
  <%= social_share_button_tag(@post.title, desc: "The summary of page") %>
  <hr>

  
</div>
