<div class="col-3 mx-auto p3 mt3 bg-white">
  <span class="h2 mb2 block">Sign up</span>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb2">
      <%= f.email_field :email, class: 'field col-12', autofocus: true, :placeholder => "Email" %>
    </div>

    <div class="mb2">
      <%= f.password_field :password, class: 'field col-12', autocomplete: "off", :placeholder => "Password" %>
    </div>

    <div class="mb2">
      <%= f.password_field :password_confirmation, class: 'field col-12', autocomplete: "off", :placeholder => "Confirm Password" %>
    </div>

    <div class="mb2">
      <%= f.submit "Sign up", class: 'col-12 btn btn-primary bg-green' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
